.main-toDoList-div {
}

.toDoList-input {
  font-size: large;

  width: 400px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
}

h1 {
  color: royalblue;
}

.creation-string-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.add-task-button {
  margin-left: 10px;
  background-color: white;
  box-shadow: 0px 0px 0px 0px;
  border-style: ridge;
  border-width: 1px;
  border-radius: 5px;
}

.add-task-button:hover {
  background-color: royalblue;
}

.add-task-button:active {
  background-color: black;
  color: white;
}

.toDoList-tasks-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task-p {
  width: 400px;
  overflow-wrap: break-word;
}

.deleteIcon {
  width: 20px;
}

.deleteIcon:hover {
  width: 20px;
  color: royalblue;
}

.tasks-div {
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
