.filter-div {
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  justify-content: space-between;
  margin: 25px 0;
}

.link-selected {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}
